<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Финансы - коипи и богатей!</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>
	<!-- Начало шапки -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
    <a class="navbar-brand" href="#">Финансы</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Дашборд<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Затраты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Доходы</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Графики</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Регулярные платежи</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" id="" href="#">{{username}}</a>
        </li>
      </ul>

	    <div class="d-flex" id="loginBtns">
	      <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#authModal">Войти</button>
	      <button type="button" class="btn btn-warning secondary-btn" data-bs-toggle="modal" data-bs-target="#registerModal">Регистрация</button>
	    </div>

	    <div class="d-none" id="usernameBtn">
	      <button type="button" class="btn btn-outline-light me-2" id="name_of_user" data-bs-toggle="modal" data-bs-target="#userModal">{{name}}</button>
	     <button type="button" class="btn btn-warning secondary-btn" onclick="location.href='/logout'">Выход</button>

	    </div>


    </div>

	</div>
  </nav> <!-- Конец шапки -->




	<div class="container mt-5"> <!-- Начало дашборд №1 -->
	    <div class="row"> <!-- Первый блок -->
	      <div class="col-md-3 text-center">
	        <h1>1800/3300 р.</h1>
	        <p>дневной бюджет</p>
	        <button class="btn btn-warning">Добавить трату</button>
	        <table class="table text-start mt-4"> <!-- Табличка -->
			  <thead>
			    <tr>
			   		<th scope="col">№</th>
			      <th scope="col">Название</th>
			      <th scope="col">Сумма</th>
			      <th scope="col"></th>


			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Метро</td>
			      <td>76 р.</td>
			     	<td><button type="button" class="btn btn-light btn-sm">x</button></td>

			      
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Столовая</td>
			      <td>500 р.</td>
			      <td><button type="button" class="btn btn-light btn-sm">x</button></td>
			    
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td>Сигареты</td>
			      <td>250 р.</td>
			      <td><button type="button" class="btn btn-light btn-sm">x</button></td>
			    </tr>

			    <tr>
			      <th scope="row">4</th>
			      <td>Продукты</td>
			      <td>874 р.</td>
			      <td><button type="button" class="btn btn-light btn-sm">x</button></td>
			    </tr>

			    <tr>
			      <th scope="row">5</th>
			      <td>WB</td>
			      <td>100 р.</td>
			      <td><button type="button" class="btn btn-light btn-sm">x</button></td>
			    </tr>
			  </tbody>
			</table>
			<p>20.07.2025 (сегодня)</p>
	      </div> <!-- Конец дашборд №1 -->

	      <!-- Начало дашборд №2 -->
	      <div class="col-md-3 text-center">
	      	<h2>4101 р./день</h2>
	      	<p>можешь тратить до зарплаты</p>

	      	<p><b>Не трать сегодня </b>и сэкономишь 1500 р.! <br>Счётчик экономии: <b>3369 р.</b> </p>


	      	<div class="">
	      	<p class="fs-6 text-start mb-0">Дом</p>
	      	<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
					</div>
						</div>

					<div class="">
	      	<p class="fs-6 text-start mb-0">Досуг</p>
					<div class="progress">
					  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
					</div>
						</div>

					<div class="">
	      	<p class="fs-6 text-start mb-0">Продукты</p>
	      	<div class="progress">
					  <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
						</div>


					<div class="">
	      	<p class="fs-6 text-start mb-0">Кафе</p>
	      	<div class="progress">
					  <div class="progress-bar bg-warning" role="progressbar" style="width: 51%" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
					</div>
						</div>


					<div class="">
	      	<p class="fs-6 text-start mb-0">Здоровье</p>
	      	<div class="progress">
					  <div class="progress-bar bg-danger" role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100">77%</div>
					</div>
						</div>



	      	<!-- Button trigger modal -->



<!-- Modal of login -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/authorize" method="POST" id="authorizationForm">
      <div class="modal-body flex-column w-75 mx-auto">
      	<p class="text-start">Введите ваши учетные данные</p>
      	<div class="d-flex flex-column">
        <input type="text" placeholder="Логин" autocomplete="username" name="auth_username">
        <input type="password" placeholder="Пароль" autocomplete="current-password" name="auth_password">
        <div class="form-check text-start">
			  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
			  <label class="form-check-label" for="flexCheckChecked" name="save_computer" id="save_computer">Запомнить меня</label>
				</div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Войти</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal of register -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/register" method="POST" id="registerForm">
      <div class="modal-body">
      	<div class="d-flex flex-column w-75 mx-auto">
      	<p class="text-start">Введите регистрационные данные</p>
      	<input type="text" placeholder="Имя" id ="register_name" name = "register_name" required>
      	<input type="email" id = "register_email" name = "register_email" placeholder="E-mail" required>
        <input type="text" name="register_username" id = "register_username"placeholder="Логин" required>
        <input type="password" name="register_password" id="register_password" placeholder="Пароль" required>
        <input type="password" name="confirm_register_password" id="confirm_register_password" placeholder="Пароль" required>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="register_method" name="register_method">Создать аккаунт</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal of user -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Информация о пользователе</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body flex-column w-75 mx-auto">
      	<div class="d-flex flex-column">

      	<table class="table text-start"> <!-- Табличка -->
			  <thead>

			  </thead>
			  <tbody>
			    <tr>

			      <td>Айди пользователя</td>
			      <td>{{user_id}}</td>
			      
			    </tr>
			    <tr>

			      <td>Имя</td>
			      <td>{{name}}</td>
			    
			    </tr>
			    <tr>

			      <td>Эл. почта</td>
			      <td>{{email}}</td>
			    </tr>

			    <tr>

			      <td>Юзер нэйм</td>
			      <td>{{username}}</td>
			    </tr>

			  </tbody>
			</table>


        

      </div>
      </div>

    </div>
  </div>
</div>



	      </div>
	      <!-- Конец дашборд №2 -->
	      <div class="col-md-3 text-center">
	        <h2>Расходы и доходы</h2>
	        <img src="{{ url_for('static', filename='img/financial_chart_july.png') }}" class="img-fluid">
	        <p>1-20 июля</p>
		        <div class="d-flex align-items-center justify-content-center gap-3">
					  <button class="btn btn-outline-secondary" id="prev-month">
					    &lt;
					  </button>
					  <span id="month-label" class="fw-bold">Июль</span>
					  <button class="btn btn-outline-secondary" id="next-month">
					    &gt;
					  </button>
					</div>
	      </div>

	      	<div class="col-md-3 text-center">
	        <h3>Крупная покупка</h3>
	        <input type="text" name="" class="mt-3" placeholder="Сумма">
	        <button class="btn btn-warning mt-3">Рассчитать</button>
	        <p class="mt-3">Будеут рассчитаны твои траты - бюджет с учётом крупной покупки. Благодаря этому ты сможешь принять решение!</p>


	      </div>



	    </div>
	  </div>

	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>